.feature {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.feature img {
  width: 286px;
  height: 391px;
  margin-bottom: 10px;
}
